build/
logs/
run/
*.o
onvif-ipc-test
onvif-server
external/gsoap/stdsoap2.h
external/gsoap/stdsoap2.cpp
external/gsoap/plugin/*.h
external/gsoap/plugin/*.cpp
external/gsoap/import/*.h
generated/*.cpp
generated/*.h
generated/*.nsmap
generated/*.xsd
generated/*.wsdl
wsdl/
certs/*.key
certs/*.crt
certs/*.pem
